.react-live-dark pre.prism-code {
  background: black !important;
}

img {
  max-width: 100%;
}

.jordy {
  max-width: 50%;
  border-radius: 100%;
}

.about-me {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul ul {
  padding-left: 60px !important;
}
